<h1>All tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id="task" name="task" checked>
    <label for="task">

    <%= link_to task.title, task_path(task)  %>
    <%= link_to 'Delete', task_path(task), method: :delete,
    data: { confirm: 'Are you suuuure you did it?' } %>
    <% end %>

    </label>
  </div>

  <%= link_to "New Task", new_task_path %>


