<h1>All tasks</h1>
<div class="container-xl">
<% @tasks.each do |task| %>
  <div class="container-md">
    <input type="checkbox" id="task" name="task" checked>
    <%= link_to task.title, task_path(task)  %>

    <%= link_to  task_path(task), method: :delete,
    data: { confirm: 'Are you suuuure you did it?' } do  %>
    <%= image_tag "delete.png", width: 20%>
    <% end %>

  </div>
<% end %>
  <%= link_to "New Task", new_task_path %>
</div>

